body {    
    background-color: beige;
    background-image: "images/Paper.jpg";
    background-repeat: no-repeat;
    background-size: cover;
}
#heading1 {
    color: black;
    font-size: 36px;
    text-align: center;
}
.center {
    color: black ;
    font-size: 30px;
    text-align: center;
}
p {
    color: black;
    margin-left: 20px;
}